<h3 style="color: darkolivegreen;">Welcome {{emailId}}!</h3>

<h1 style="color: blue;" align="center">Cart</h1> <br/>


<div class="container" *ngIf="cartProducts;else noCartItems">
    <table class="table table-bordered table-sm table-hover">

        <thead>
            <tr align="center">
                <th class="bg-info text-white">ProductId</th>
                <th class="bg-info text-white">Product Name</th>
                <th class="bg-info text-white">Price</th>
            </tr>
        </thead>
    
        <tbody>
            <tr align="center" *ngFor="let product of cartProducts">
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td>₹{{product.price}}/-</td>
            </tr>
            <tr>
                <td colspan="2" align="right">
                    <h3>Total</h3>
                </td>
                <td align="center"><b>₹{{total}}/-</b></td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td align="center">
                    <button (click)="purchase()">Purchase</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<ng-template #noCartItems>
    <div class="container" >
        <h1 style="color: red;" align="center">Cart is Empty!!!</h1>
    </div>
</ng-template>

