
<h1 align="center">Employee Registration</h1>

<table align="center">
    <tr>
        <td> EmpName </td>
        <td> <input type="text" name="empName" [(ngModel)]="employee.empName" /> </td>
    </tr>
    <tr>
        <td> Salary </td>
        <td> <input type="text" name="salary" [(ngModel)]="employee.salary" /> </td>
    </tr>
    <tr>
        <td> Gender </td>
        <td>
            <select name="salary" [(ngModel)]="employee.gender">
                <option value="" selected>Select Gender</option>
                <option value="Male">   Male </option>
                <option value="Female"> Female </option>
                <option value="Others"> Others </option>
            </select>
        </td>
    </tr>
    <tr>
        <td> DateOfJoin </td>
        <td> <input type="date" name="doj" [(ngModel)]="employee.doj" /> </td>
    </tr>
    <tr>
        <td> Country </td>
        <td>
            <select name="country" [(ngModel)]="employee.country">
                <option value="" selected>Select Country</option>
                <option value="{{country.cca3}}" *ngFor="let country of countries"> {{country.name.common}} </option>
            </select>
        </td>
    </tr>
    <tr>
        <td> Email-Id </td>
        <td> <input type="text" name="emailId" [(ngModel)]="employee.emailId" /> </td>
    </tr>
    <tr>
        <td> Password </td>
        <td> <input type="password" name="password" [(ngModel)]="employee.password" /> </td>
    </tr>

    <!-- Add a row to display the departments data -->
    <tr>
        <td> Department </td>
        <td>
            <select name="department" [(ngModel)]="employee.department.deptId">
                <option value="" selected>Select Department</option>
                <option value="{{dept.deptId}}" *ngFor="let dept of departments"> {{dept.deptName}} </option>
            </select>
        </td>
    </tr>
    <tr>
        <td></td>
        <td> <button (click)="submit()"> Register </button></td>
        Already User? <a routerLink="//login">SignIn</a>
    </tr>
</table>

<!-- <h1>Employee Registration</h1>
<form #registerForm="ngForm" (ngSubmit)="submit(registerForm)" novalidate>
    <table>
        <tr>
            <td><label for="empId">EmpId</label></td>
            <td>
                <input
                    type="text"
                    name="empId"
                    ngModel
                    #empId="ngModel"
                    required
                    minlength="3"
                    maxlength="10"
                   
                />
                <div *ngIf="empId.errors?.['required'] && empId.touched" style="color:red;">
                    EmpId is required
                </div>
                <div *ngIf="empId.errors?.['minlength'] && empId.touched" style="color:red;">
                    EmpId must be at least 3 characters long
                </div>
                <div *ngIf="empId.errors?.['maxlength'] && empId.touched" style="color:red;">
                    EmpId cannot exceed 10 characters
                </div>
            </td>
        </tr>
        <tr>
            <td><label for="empName">EmpName</label></td>
            <td>
                <input
                    type="text"
                    name="empName"
                    ngModel
                    #empName="ngModel"
                    required
                    minlength="2"
                    maxlength="50"
                />
                <div *ngIf="empName.errors?.['required'] && empName.touched" style="color:red;">
                    EmpName is required
                </div>
                <div *ngIf="empName.errors?.['minlength'] && empName.touched" style="color:red;">
                    EmpName must be at least 2 characters long
                </div>
            </td>
        </tr>
        <tr>
            <td><label for="salary">Salary</label></td>
            <td>
                <input
                    type="text"
                    name="salary"
                    ngModel
                    #salary="ngModel"
                    required
                    pattern="^\d+(\.\d{1,2})?$"
                />
                <div *ngIf="salary.errors?.['required'] && salary.touched" style="color:red;">
                    Salary is required
                </div>
                <div *ngIf="salary.errors?.['pattern'] && salary.touched" style="color:red;">
                    Enter a valid salary (e.g., 1000.00)
                </div>
            </td>
        </tr>
        <tr>
            <td><label for="gender">Gender</label></td>
            <td>
                <select
                    name="gender"
                    ngModel
                    #gender="ngModel"
                    required
                >
                    <option value="" disabled selected>Select Gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Others">Others</option>
                </select>
                <div *ngIf="gender.errors?.['required'] && gender.touched" style="color:red;">
                    Please select a gender
                </div>
            </td>
        </tr>
        <tr>
            <td><label for="doj">Date of Join</label></td>
            <td>
                <input
                    type="date"
                    name="doj"
                    ngModel
                    #doj="ngModel"
                    required
                />
                <div *ngIf="doj.errors?.['required'] && doj.touched" style="color:red;">
                    Please select a date of join
                </div>
            </td>
        </tr>
        <tr>
            <td><label for="country">Country</label></td>
            <td>
                <select
                    name="country"
                    ngModel
                    #country="ngModel"
                    required
                >
                    <option value="" disabled selected>Select Country</option>
                    <option value="{{country.cca3}}" *ngFor="let country of countries"> {{country.name.common}} </option>
                </select>
                <div *ngIf="country.errors?.['required'] && country.touched" style="color:red;">
                    Please select a country
                </div>
            </td>
        </tr>
        <tr>
            <td><label for="department">Department</label></td>
            <td>
                <select
                    name="dept"
                    ngModel
                    #country="ngModel"
                    required
                >
                    <option value="" disabled selected>Select Department</option>
                    <option value="{{dept.deptName}}" *ngFor="let dept of departments"> {{dept.deptName}} </option>
                </select>
                
            </td>
        </tr>
        <tr>
            <td><label for="emailId">Email-Id</label></td>
            <td>
                <input
                    type="email"
                    name="emailId"
                    ngModel
                    #emailId="ngModel"
                    required
                    email
                    minlength="3"
                />
                <div *ngIf="emailId.errors?.['required'] && emailId.touched" style="color:red;">
                    Please enter an Email-Id
                </div>
                <div *ngIf="emailId.errors?.['email'] && emailId.touched" style="color:red;">
                    Please enter a valid email address
                </div>
                <div *ngIf="emailId.errors?.['minlength'] && emailId.touched" style="color:red;">
                    Please enter at least 3 characters for Email-Id
                </div>
            </td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td>
                <input
                    type="password"
                    name="password"
                    ngModel
                    #password="ngModel"
                    required
                    minlength="4"
                    pattern="^(?=.[a-z])(?=.[A-Z])(?=.\d)(?=.[@$!%?&])[A-Za-z\d@$!%?&]{4,}$"
                />
                <div *ngIf="password.errors?.['required'] && password.touched" style="color:red;">
                    Password is required
                </div>
                <div *ngIf="password.errors?.['minlength'] && password.touched" style="color:red;">
                    Password must be at least 4 characters long
                </div>
                <div *ngIf="password.errors?.['pattern'] && password.touched" style="color:red;">
                    Password must contain at least one uppercase letter, one lowercase letter, one special character, and one numeric character
                </div>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type="submit" [disabled]="!registerForm.valid">Register</button>
            </td>
        </tr>
    </table>
</form> -->