id: {{id}} <br/>
name: {{name}} <br/>
age: {{age}} <br/><br/>


<h3>Hobbies</h3>
<ul>
    <li *ngFor="let hobby of hobbies"> {{hobby}} </li>
</ul>

<h3>Address</h3>
<li>StreetNo: {{address.streetNo}} <br/> </li>
<li>City: {{address.city}} <br/></li>
<li>State: {{address.state}} <br/><br/></li>




