<h3 style="color: darkolivegreen;">Welcome {{emailId}}!</h3>

<h1 style="color: blue;" align="center">Products</h1> <br/>

<div class="container">
    <div class="row">
        <div class="col-md-4" *ngFor="let product of products">
            <div class="card" style="width:400px">
                <img class="card-img-top" src="{{product.imgsrc}}" alt="Card image" style="width:100%">
                <div class="card-body">
                  <h4 class="card-title"><b>{{product.name}}</b></h4>
                  <p class="card-text">{{product.description}}</p>
                  <p class="card-text"><b>Price: ₹{{product.price}}/- </b></p>
                  <p align="right">
                    <button (click)="addToCart(product)" class="btn btn-primary stretched-link">AddToCart</button>
                  </p>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- <div class="container">
    
    <div class="card" style="width:400px">
      <img class="card-img-top" src="assets/Images/10001.jpg" alt="Card image" style="width:100%">
      <div class="card-body">
        <h4 class="card-title"><b>Nokia</b></h4>
        <p class="card-text">No Cost EMI Applicable</p>
        <p class="card-text"><b>Price: <s>₹25000.00/-</s> ₹15000.00/-</b></p>
        <a href="#" class="btn btn-primary stretched-link">AddToCart</a>
      </div>
    </div>
    <br/>

    <div class="card" style="width:400px">
        <img class="card-img-top" src="assets/Images/10002.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title"><b>Samsung</b></h4>
          <p class="card-text">No Cost EMI Applicable</p>
          <p class="card-text"><b>Price: <s>₹28000.00/-</s> ₹17000.00/-</b></p>
          <a href="#" class="btn btn-primary stretched-link">AddToCart</a>
        </div>
    </div>
    <br/>

    <div class="card" style="width:400px">
        <img class="card-img-top" src="assets/Images/10003.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title"><b>Motorola</b></h4>
          <p class="card-text">No Cost EMI Applicable</p>
          <p class="card-text"><b>Price: <s>₹18000.00/-</s> ₹17000.00/-</b></p>
          <a href="#" class="btn btn-primary stretched-link">AddToCart</a>
        </div>
    </div>
    <br/>
</div> -->


<!-- 
<div class="container">
    <div class="row">
        <div class="col-xl-1 col-lg-2 col-md-3 col-sm-4 col-xs-6 ">Col-01</div>
        <div class="col-xl-1 col-lg-2 col-md-3 col-sm-4 col-xs-6">Col-02</div>
        <div class="col-xl-1 col-lg-2 col-md-3 col-sm-4 col-xs-6">Col-03</div>
        <div class="col-xl-1 col-lg-2 col-md-3 col-sm-4 col-xs-6">Col-04</div>
        <div class="col-xl-1 col-lg-2 col-md-3 col-sm-4 col-xs-6">Col-05</div>
        <div class="col-xl-1 col-lg-2 col-md-3 col-sm-4 col-xs-6">Col-06</div>
        <div class="col-xl-1 col-lg-2 col-md-3 col-sm-4 col-xs-6">Col-07</div>
        <div class="col-xl-1 col-lg-2 col-md-3 col-sm-4 col-xs-6">Col-08</div>
        <div class="col-xl-1 col-lg-2 col-md-3 col-sm-4 col-xs-6">Col-09</div>
        <div class="col-xl-1 col-lg-2 col-md-3 col-sm-4 col-xs-6">Col-10</div>
        <div class="col-xl-1 col-lg-2 col-md-3 col-sm-4 col-xs-6">Col-11</div>
        <div class="col-xl-1 col-lg-2 col-md-3 col-sm-4 col-xs-6">Col-12</div>
    </div>
</div>
 -->